.MenuPanel {
	background: rgba(255,255,255,0.9);
	/* padding: 4px; */
    box-shadow: 0 4px 5px #333;
	/* border-radius: 0 0 5px 5px; */
}

.MenuPanel HR{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin:8px;
}

.divider {
	position: absolute;
	left: 20px;
	top: 0px;
	width: 1px;
	height: 100%;
	background-color: grey;
}

.topMenuBar {
	height: 24px;
	width: 100%;
	padding-left:12px;
	border-top: 1px solid rgba(255,255,255,0.5);
        border-bottom: 1px solid rgba(0,0,0,0.5); 
}

/* background: -webkit-linear-gradient(top, rgba(250,250,250,0.8) 0%, rgba(206,206,206,0.8) 100%);
border-top: 1px solid rgba(255,255,255,0.5);
border-bottom: 1px solid rgba(0,0,0,0.5);
 */
@if user.agent gecko1_8 {
	.topMenuBar {
		background-image: -moz-linear-gradient(top, rgba(250,250,250,0.8) 0%, rgba(206,206,206,0.8) 100%);
	}
}

@elif user.agent ie6 ie8 ie9 {
	.topMenuBar {
		background-image: -ms-linear-gradient(top, rgba(250,250,250,0.8) 0%, rgba(206,206,206,0.8) 100%);
	}
}

@elif user.agent safari {
	.topMenuBar {
		background-image: -webkit-linear-gradient(top, rgba(250,250,250,0.8) 0%, rgba(206,206,206,0.8) 100%);
	}
}

.topMenuBarWeb {
	height: 30px;
	width: 100%;
}

@if user.agent gecko1_8 {
	.topMenuBarWeb {
		background-image: -moz-linear-gradient(top, #787b7d, #010102);
	}
}

@elif user.agent ie6 ie8 ie9 {
	.topMenuBarWeb {
		background-image: -ms-linear-gradient(top, #787b7d, #010102);
	}
}

@elif user.agent safari {
	.topMenuBarWeb {
		background-image: -webkit-linear-gradient(top, #787b7d, #010102);
	}
}

.topMenuBarItem {
	padding: 5px;
	font-family: 'Open Sans',sans-serif;
	font-size: 11px;
	font-weight: bold;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    color: rgba(0,0,0,1);
}

.topMenuBarItem:hover,.topMenuBarItem.open {
	cursor: pointer;
 	background: #f0f0f0; 
	color:white;
	text-shadow:none;
    background-image: -moz-linear-gradient(center top , rgba(99, 136, 246, 1), rgba(34,94,243, 1));
margin-top:-1px;
border-top:1px solid rgba(118, 150, 247, 1);
border-bottom:1px solid rgba(14, 75, 215, 1);
margin-bottom:-1px;
} 

.topMenuContainer {
	border: 1px solid #333;
	background-color: #f0f0f0;
}

.TopMenuRowContainer .topMenuItemMiddle {
	padding: 0 0 0 8px;
	height: 16px;
}

.topMenuBarItem .topMenuItemMiddle {
	padding: 0;
	height: 16px;
}

.topMenuItemTitle {
	font-family: 'Open Sans',sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:black;
}


.disabled .topMenuItemTitle,
.disabled .topMenuItemDesc,
.disabled .TopMenuRowContainer:hover,
.disabled .TopMenuRowContainer:hover .topMenuItemTitle,
.disabled .TopMenuRowContainer:hover .topMenuItemDesc {
	color: #989898;
	background:none;
	cursor:default;
}

.disabled   {
	background:none;
    color: lightgray;
}

.topMenuItemDesc {
	font-family: 'Open Sans',sans-serif;
	font-size: 9px;
	color: #333;
}

.topMenuItemDesc {
	font-family: 'Open Sans',sans-serif;
	font-size: 9px;
	color: #333;
}

.topMenuIcon {
	width: 20px;
	height :20px;
}

.TopMenuRowContainer {
	padding: 4px 8px 4px 12px;
	width:200px;
	}

@sprite .Ascending {
	gwt-image: 'ascending';
	width: 16;
	height: 16;
}

@sprite .Descending {
	gwt-image: 'descending';
	width: 16;
	height: 16;
}

.TopMenuRowContainer:hover .topMenuItemTitle,.TopMenuRowContainer:hover .topMenuItemDesc, .open .TopMenuRowContainer .topMenuItemTitle {
	color:white;
}
	
.TopMenuRowContainer:hover, .open .TopMenuRowContainer {
	cursor: pointer;
	height: 100%;
}

@if user.agent gecko1_8 {
	.TopMenuRowContainer:hover, .open .TopMenuRowContainer {
background-image: -moz-linear-gradient(center top , rgba(99, 136, 246, 1), rgba(34,94,243, 1));
	}
}

@elif user.agent ie6 ie8 ie9 {
	.TopMenuRowContainer:hover, .open .TopMenuRowContainer {
		background-image: -ms-linear-gradient(top, #ebf3fd, #d9e8fb);
	}
}

@elif user.agent safari {
	.TopMenuRowContainer:hover, .open .TopMenuRowContainer {
		background-image: -webkit-linear-gradient(top, #ebf3fd, #d9e8fb);
	}
}

@sprite .MenuArrow {
	height: 20px;
	width: 20px;
	gwt-image: 'menuArrow';
}

.locked {
	-moz-user-select: none;
	user-select: none;
}