body {
    font-family:"Open Sans",sans-serif;
    font-size:11px;
    color:black;
}

fieldSet {
    border:1px solid #8db2e3;
    padding: 2px;
    margin-left : 2px;
    margin-right : 2px;
}

legend {
   -moz-user-select: none;
   color: #486095;
   padding:2px 4px 2px 2px;
   text-align:right;
   vertical-align:top;
}

.ScreenLabel{	
}

.WhiteContentPanel {
	background:white;
}

.Form {
    margin:4px 8px ;
}

.Prompt {
    -moz-user-select: none;
	color:gray;
	padding:2px 0 2px 2px;
	text-align:right;
	vertical-align:top;
}

.DropIndicator {
    background: #00f;
    position:relative;
    border-radius: 50%;
    color: white;
    font-size:15px;
    text-align: center;
    line-height:310px;
    animation : pulse 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: pulse 0.25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
   }
   
   @keyframes pulse {
    from {top:0px; left:0px;width:315px;height:315px;}
    to {top:0px;left:0px;width : 310px;height:310px;}
   }
   
   @-webkit-keyframes pulse {
     from {top:0px; left:0px;width:315px;height:315px;}
     to {top:0px;left:0px;width : 310px;height:310px;}
   }