.noteSubjectText{
	color:#486095;
    font-weight:bold;
}	
.noteAuthorText{
}
.noteBodyText{
	color:black;
    background:white;
}
.noteTableRow {
	padding:8px;
}
.noteTableRow TD{
    border-bottom: 1px solid #D8D8E8;    
}