.Button {
	display : inline-block;
	background : white;
	box-shadow: 5px 5px 2px #888888;
	border : 1px solid #888888;
	font-family : arial;
	font-size : 14px;
}

.Button > div {
	padding : 10px;
	height:100%;
}

.Pressed {
	
}
.Focus {
	
}

.Disabled {
	
}