@sprite .SelectButton {
	gwt-image:'autoArrow';
	background-position:0 4px;
	height:18px;
}

@sprite .CloseButton {
	gwt-image:'closeButton';
    width:20px;
    height:20px;
    cursor:pointer;
}


.ScreenLabel{}

.SelectBox {
    border:1px solid #d8d8d8;
    color:#000000;
    font-family: inherit;
    font-size: inherit;
    height:16px;
    cursor:default;
    table-layout : fixed;
    background:white;
    outline : none;
    padding : 1px;
}

.SelectText {
   background:white;
    font-family: inherit;
    font-size: inherit;
   height: 16px;
   cursor: default;
   border: none;
   tex-overflow: ellipsis;
   outline : none;
}

.Focus {
	 border:1px solid #63b159;
}

.SelectBox td {
	text-overflow : ellipsis;
	overflow : hidden;
	white-space : nowrap;
	outline : none;
}


.Popup {
    overflow:hidden;
    background:#FFFFFF;
    border: 1px solid #7eadd9;
}

.InputError {
	border-bottom:1px dashed red;
}

.InputWarning {
	border-bottom:1px dashed #f5d852;
}

@sprite .Checked {
	gwt-image:'commit';
    cursor:pointer;
}
@sprite .Unchecked {
	gwt-image:'abort';
    cursor:pointer;
}
@sprite .Unknown {
    height:13px;
    width:13px;
	gwt-image:'unknown';
    cursor:pointer;
    border:1px solid white;
}