body {
    font-family:"Open Sans",sans-serif;
    font-size:11px;
}

.ScreenLabel{	
}

.WhiteContentPanel {
	background:white;
}

.Form {
    margin:4px 8px ;
}

.Prompt {
    -moz-user-select: none;
	color:gray;
	padding:2px 0 2px 2px;
	text-align:right;
	vertical-align:top;
}
