@sprite .SelectButton {
	gwt-image:'selectArrow';
}

@sprite .CloseButton {
	gwt-image:'closeButton';
    width:20px;
    height:20px;
    cursor:pointer;
}

.ScreenLabel{}

.SelectBox {
    border:none;
    color:#000000;
    font-family: inherit;
    font-size: inherit;
    height:20px;
    cursor:default;
    table-layout : fixed;
    background:white;
}

.SelectText {
   background:white;
    font-family: inherit;
    font-size: inherit;
    height: 16px;
   cursor: default;
   border: none;
   tex-overflow: ellipsis;
}

.Focus {
	 border:none;
}

td.SelectBox {
	text-overflow : ellipsis;
	overflow : hidden;
	white-space : nowrap;
	border:none;
}


.Popup {
    overflow:hidden;
    background:#FFFFFF;
    border: 1px solid #7eadd9;
}

.InputError {
	border-bottom:1px dashed red;
}

.InputWarning {
	border-bottom:1px dashed #f5d852;
}

@sprite .Checked {
    height:13px;
    width:13px;
	gwt-image:'apply';
    cursor:pointer;
    border:1px solid white;
}
@sprite .Unchecked {
    height:13px;
    width:13px;
	gwt-image:'unapply';
    cursor:pointer;
    border:1px solid white;
}
@sprite .Unknown {
    height:13px;
    width:13px;
	gwt-image:'unknown';
    cursor:pointer;
    border:1px solid white;
}