.AutoDropdown{
}

.Popup {
    overflow:hidden;
    background:#FFFFFF;
    border: 1px solid #7eadd9;
}

@sprite .AutoDropdownButton{
	background-position:0 4px;
	gwt-image:'autoArrow';
	height:18px;
}

.AutoBox {
   font-family: inherit;
   font-size: inherit;
   background:white;
   height: 16px;
   cursor: default;
   border: none;
   tex-overflow: ellipsis;
}
