.AutoDropdown{
}

@sprite .AutoDropdownButton{
	background-position:0 4px;
	gwt-image:'autoArrow';
	height:18px;
}

.AutoBox {
    font-family: inherit;
    font-size: inherit;
   background:white;
   height: 16px;
   cursor: default;
   border: none;
   tex-overflow: ellipsis;
}
