body {
    font-family:"Open Sans",sans-serif;
    font-size:11px;
}

fieldSet {
    border:1px solid #b5b8c8;
    padding: 2px;
}

legend {
   -moz-user-select: none;
   font-weight: bold;
   color: #486095;
   padding:2px 4px 2px 2px;
   text-align:right;
   vertical-align:top;
}

.ScreenLabel{	
}

.WhiteContentPanel {
	background:white;
}

.Form {
    margin:4px 8px ;
}

.Prompt {
    -moz-user-select: none;
	color:gray;
	padding:2px 0 2px 2px;
	text-align:right;
	vertical-align:top;
}
