@sprite .addTestButtonImage {
	gwt-image:'calculatorAdd';
}

@sprite .Disabled .addTestButtonImage {
	gwt-image:'calculatorAddDisabled';
}

@sprite .cancelTestButtonImage {
	gwt-image:'calculatorDelete';
}

@sprite .Disabled .cancelTestButtonImage {
	gwt-image: 'calculatorDeleteDisabled';
}

@sprite .expandButtonImage {
	gwt-image:'arrowOut';
}

@sprite .Disabled .expandButtonImage {
	gwt-image:'arrowOutDisabled';
}

@sprite .collapseButtonImage {
	gwt-image:'arrowIn';
}

@sprite .Disabled .collapseButtonImage {
	gwt-image:'arrowInDisabled';
}

@sprite .similarButtonImage {
	gwt-image: 'find';
}

@sprite .Disabled .similarButtonImage {
	gwt-image: 'findDisabled';
}

@sprite .privateWellWaterSampleLoginIcon {
	gwt-image: 'house';
}

@sprite .QueryButtonImage {
	gwt-image:'query';
}

@sprite .Disabled .QueryButtonImage {
	gwt-image:'queryDisabled';
}

@sprite .Pressed .QueryButtonImage {
	gwt-image: 'query';
}

@sprite .PreviousButtonImage {
	gwt-image:'previous';
}

@sprite .Disabled .PreviousButtonImage {
	gwt-image:'previousDisabled';
}

@sprite .NextButtonImage {
	gwt-image: 'next';
}

@sprite .Disabled .NextButtonImage {
	gwt-image:'nextDisabled';
}

@sprite .AddButtonImage {
	gwt-image:'add';
}

@sprite .Disabled .AddButtonImage {
	gwt-image:'addDisabled';
}

@sprite .Pressed .AddButtonImage {
	gwt-image:'add';
}

@sprite .AddButtonIcon {
	gwt-image:'addButton';
}

@sprite .Disabled .AddButtonIcon {
	gwt-image:'addButtonDisabled';
}

@sprite .UpdateButtonImage {
	gwt-image:'update';
}

@sprite .Disabled .UpdateButtonImage {
	gwt-image:'updateDisabled';
}

@sprite .Pressed .UpdateButtonImage {
	gwt-image:'update';
}

@sprite .DeleteButtonImage {
	gwt-image:'delete';
}

@sprite .Disabled .DeleteButtonImage {
	gwt-image:'deleteDisabled';
}

@sprite .DeleteButtonIcon {

	gwt-image:'deleteIcon';
}

@sprite .Disabled .DeleteButtonIcon {
	gwt-image:'deleteIconDisabled';
}

@sprite .CommitButtonImage {
	gwt-image:'commit';
}

@sprite .Disabled .CommitButtonImage {
	gwt-image:'commitDisabled';
}

@sprite .ProcessButtonImage {
	gwt-image:'process';
}

@sprite .Disabled .ProcessButtonImage {
	gwt-image:'processDisabled';
}

@sprite .AbortButtonImage {
	gwt-image:'abort';
}

@sprite .Disabled .AbortButtonImage {
	gwt-image:'abortDisabled';
}

@sprite .OptionsButtonImage {
	gwt-image:'menuDown';
}

@sprite .Disabled .OptionsButtonImage {
	gwt-image:'menuDownDisabled';
}

@sprite .DuplicateRowButtonImage{
    gwt-image:'duplicateRowButtonImage';
}

@sprite .Disabled .DuplicateRowButtonImage{
    gwt-image:'duplicateRowButtonImageDisabled';
}

@sprite .duplicateRecordIcon {
	gwt-image:'duplicate';
}

@sprite .historyIcon {
	gwt-image:'history';
}

@sprite .arrowUpButtonImage {
	gwt-image:'arrowUpButtonImage';
}

@sprite .Disabled .arrowUpButtonImage {
	gwt-image:'arrowUpButtonImageDisabled';
}

@sprite .arrowDownButtonImage {
	gwt-image:'arrowDownButtonImage';
}

@sprite .Disabled .arrowDownButtonImage {
	gwt-image:'arrowDownButtonImageDisabled';
}

@sprite .refreshButtonImage {
	gwt-image: 'refresh';
	width: 20px;
}

@sprite .selectIcon {
	gwt-image: 'select';
	width : 20px;
}

@sprite .Disabled .selectIcon {
	gwt-image: 'selectDisabled';
	width: 20px
}

@sprite .PreviousPageButtonImage {
	gwt-image:'previousPage';
}

@sprite .Disabled .PreviousPageButtonImage {
	gwt-image:'previousPageDisabled';
}

@sprite .NextPageButtonImage {
	gwt-image: 'nextPage';
}

@sprite .Disabled .NextPageButtonImage {
	gwt-image:'nextPageDisabled';
}

@sprite .backImage {
	gwt-image:'backImage';
}

@sprite .OpenButtonImage {
    gwt-image:'doorOpen';
}

@sprite .Pressed .OpenButtonImage {
    gwt-image: 'doorOpen';
}

@sprite .SaveButtonImage{
    gwt-image:'saveButtonImage';
}

@sprite .Disabled .SaveButtonImageDisabled{
    gwt-image:'saveButtonImageDisabled';
}

@sprite .TableMenu {
	gwt-image:'menu';
}