@sprite .Checked {
    height:45px;
    width:45px;
	gwt-image:'mapply';
    cursor:pointer;
    border:1px solid white;
    margin : auto;
}
@sprite .Unchecked {
    height:45px;
    width:45px;
	gwt-image:'munapply';
    cursor:pointer;
    border:1px solid white;
    margin : auto;
}
@sprite .Unknown {
    height:45px;
    width:45px;
	gwt-image:'munknown';
    cursor:pointer;
    border:1px solid white;
    margin : auto;
}

.InputError {
	border-bottom:1px dashed red;
}

.InputWarning {
	border-bottom:1px dashed #f5d852;
}

.Focus {
	border: 1px solid #63b159;
}